<div class="content-wrapper" *ngIf="crop$">
    <!-- Content Header (Page header) -->
    <section class="content-header border_bottom_gray marg_bottom_small">
        <div class="row ">
            <div class="col-md-12 text-center header_holder">
                <h4 class="text-capitalize">Crop details for: {{crop$.name }}</h4>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a routerLink="/" class="btn btn-info no_border_rad marg_bottom_small">
                    <i class="fa fa-backward"></i> Back to Crop List
                </a>
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr><th colspan="2" class="text-center">Details For: {{crop$.name}}</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-6">Crop Name</td>
                            <td class="col-md-6">{{crop$.name}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Description</td>
                            <td class="col-md-6">{{crop$.description}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Created</td>
                            <td class="col-md-6">{{crop$.created | date:'medium' }}</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Updated</td>
                            <td>
								<span *ngIf="crop$.updated == '0000-00-00 00:00:00' ">
									Never
								</span>
                                <span *ngIf="crop$.updated != '0000-00-00 00:00:00' ">
									{{crop$.updated | date:'medium' }}
								</span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <table class="table table-bordered table-striped" style="margin-top: 3em;">
                                    <thead class="text-center">
                                        <tr><th colspan="2" class="text-center">Category Details</th></tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="col-md-6">Category Name</td>
                                        <td class="col-md-6">{{crop$.cropCategory.name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-6">Description</td>
                                        <td class="col-md-6">{{crop$.cropCategory.description}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--<table class="table table-bordered table-striped">
                    <thead class="text-center">
                    <tr><th colspan="2" class="text-center">Category Details</th></tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-md-6">Name</td>
                        <td class="col-md-6">{{crop$.cropCategory.name}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-6">Description</td>
                        <td class="col-md-6">{{crop$.cropCategory.description}}</td>
                    </tr>
                    </tbody>
                </table>-->
            </div>
        </div>
    </section>
</div>