<div class="alert-modal">
    <h4 class="alert-modal-title border_bottom_gray marg_bottom_small">EDIT CROP DETAILS</h4>
    <p *ngIf="request_feedback">
        <span>{{ request_feedback.message }}</span>
    </p>
    <div>
        <form [formGroup]="cropForm" class="form" (ngSubmit)="onSubmit(cropForm.value)">

            <input type="hidden" formControlName="c_uid">
            <input type="text" class="form-control" formControlName="c_name" >
            <br>
            <textarea rows=5 class="form-control form-input" type="text" formControlName="c_description"></textarea>
            <br>
            <label for="">Category</label>
            <select formControlName="c_category" class="form-control">
                <option *ngFor="let category of categories; let i = index" [(value)]="category.uid"

                        [attr.selected]="category.uid === crop_data.cropCategory.uid ? true : null"
                >
                    {{category.name}}
                </option>
            </select>
            <div class="alert-modal-buttons">
                <button mat-raised-button color="primary" class="alert-modal-button alert-modal-button-success btn btn-success"
                        type="submit" [disabled]="!cropForm.valid">Update</button>
                <button mat-raised-button class="alert-modal-button alert-modal-button-failure btn btn-info" type="button"(click)="onCloseCancel()">Cancel</button>
            </div>
            <div>

            </div>
        </form>
    </div>
</div>
